<h1>hello from controller rails</h1>







<p>
<%= link_to "Hello link to goodbye", say_goodbye_path %>
</p>

<%= "cow"+"boy" %>

<p>
it is <%= 1.hour.from_now.localtime %> in one hour!
</p>

<p>

 #<%= link_to "Show this tues19dec", tues19dec %>



</p>


 <p>
   
	<%= link_to "New tues19dec", new_tues19dec_path %>
    </p>


