<div id="<%= dom_id tues19dec %>">
  <p>
    <strong>Name:</strong>
    <%= tues19dec.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tues19dec.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= tues19dec.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tues19dec.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tues19dec.description %>
  </p>

  <p>
    <strong>Personaldata:</strong>
    <%= tues19dec.personaldata %>
  </p>

  <p>
    <strong>Showemail:</strong>
    <%= tues19dec.showemail %>
  </p>

  <p>
    <strong>Trade:</strong>
    <%= tues19dec.trade %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tues19dec.location %>
  </p>

</div>
