<p style="color: green"><%= notice %></p>


<table><tr><td>
<h1>Tues19decs</h1>


<div id="tues19decs">
  <% @tues19decs.each do |tues19dec| %>
    <%= render tues19dec %>
    <p>
      <%= link_to "Show this tues19dec", tues19dec %>
    </p>
  <% end %>
</div>

<%= link_to "New tues19dec", new_tues19dec_path %>

</tr></td>
<tr><td>
<h1>links to other pages</h1>
<%= link_to "my adds page", adds %>


<p>
<%= link_to "Hello link to goodbye this is inside the index.page..", say_goodbye_path %>
</p>
</td></tr>

</table>