<p style="color: green"><%= notice %></p>

<%= render @tues19dec %>

<div>
  <%= link_to "Edit this tues19dec", edit_tues19dec_path(@tues19dec) %> |
  <%= link_to "Back to tues19decs", tues19decs_path %>

  <%= button_to "Destroy this tues19dec", @tues19dec, method: :delete %>
</div>
