<div class="my-5"><h1> Placing adverts for products for sale...</h1>

<h1>index adverts</h1>

<h2><%= link_to "create new advert", new_path, class: "rounded-lg py-3 px-5 bg-green-600 text-black inline-block font-medium cursor-pointer" %></h2>


Click underlined entry below to edit or delete.
<br /><br />



<% @adverts.each do |ad| %>
<%= link_to ad.name, show_path(ad) %><br />

<%=  link_to ad.description, show_path(ad) %><br />
<%=  link_to ad.product, show_path(ad) %><br />
<%=  link_to ad.price, show_path(ad) %> <br />
<img src="<%= ad.image_url %>"></img><br />


<br /><br />

<% end %>
<%= link_to "back to the top", list_path, class: "rounded-lg py-3 px-5 bg-green-600 text-black inline-block font-medium cursor-pointer" %><br />


</div>
<br>


