
<div class="my-5">



<h2>New Advert</h2>





<%= form_for @advert do |f| %>

<p><b>Name</b><br /><%= f.text_field :name %></p>
<p><b>Product</b><br /><%= f.text_field :product %></p>
<p><b>Description</b><br /><%= f.text_field :description %></p>
<p><b>Price</b><br /><%= f.text_field :price %></p>
<p><b>Email</b><br /><%= f.text_field :email %></p>
<p><b>Image_url (Link to image held on another site.)</b><br /><%= f.text_field :image_url %></p>
<p><%= f.submit "Create", class: "rounded-lg py-3 px-5 bg-green-600 text-black inline-block font-medium cursor-pointer" %></p>
<%= link_to "Back", list_path, class: "rounded-lg py-3 px-5 bg-green-600 text-black inline-block font-medium cursor-pointer" %><br />

</div>
<% end %>
