<div class="my-5">





<%=  @advert.name %><br />
<%=  @advert.product %><br />
<%=  @advert.description %><br />
<%=  @advert.price %><br />
<%=  @advert.image_url %><br />
<%= link_to "Would you like to edit this entry?", edit_path %><br />
<%= link_to "Would you like to delete this entry?", delete_path %><br />
<%= link_to "back to index of all entries", list_path %><br />





</div>