<div id="<%= dom_id p_product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= p_product.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= p_product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= p_product.image_url %>
	
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= p_product.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this p product", p_product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this p product", edit_p_product_path(p_product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>


<div>
<table id="p_products" class="mx-auto">
<tbody>
<% @p_products.each do |product| %>

<%= image_tag(product.image_url, class: 'w-40') %>

 


<% end %>
</tbody>
</table>
</div>

















