<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
  
  
    <h1 class="font-bold text-4xl">P products</h1>
    <%= link_to "New p product", new_p_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="p_products" class="min-w-full">
    <%= render @p_products %>
  </div>
  
  
  <div>
<table id="p_product" class="mx-auto">
<tbody>


<% @p_products.each do |product| %>

<%= image_tag('DSC7810.jpg', size: '100x100') %>



<%= product.title %> 
<%= product.image_url %>
<%= image_tag 'big_tent-01.jpg' %>
<%= product.id %>
<%= product.price %>
<%= product.description %>
<%= image_url = product.image_url %>
<%= image_tag ('') %>

<% end %>



</tbody>
</table>
</div>

  
  
  
  
  
  
  
  
</div>
