<%= form_with(model: product, class: "contents") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="<%= dom_id product %>">
 
  <h1>hello this is  mark..</h1>


  <div class="my-5">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title , class: "block shadow rounded-md-3"%>
  </div>




  <div class="my-5">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, rows:10, class: "block shadow rounded-md-3" %>
  </div><br>

  <div class="my-5">
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url , class: "block shadow rounded-md-3" %>
  </div><br>

  <div class="my-5">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price , class: "block shadow rounded-md-3"%>
  </div><br>

  <div class="inline">
    <%= form.submit "loggg in", class:"bg-gray-100 px-4 py-2 rounded hover:bg-gray-200" %>
  </div>
 </div> 
  <!--
<% end %>
-->